/*テーブル部分の調整*/
table   {
  border-collapse:collapse;
  padding-top:20px;
}

.category1    {
  border-bottom:3px solid #FF773E;
  height:60px;
}

.category2    {
  border-bottom:1px solid #FFDBC9;
  height:30px;
}

.border-none{
  border-bottom: 0px none;
}

.page_title{
  font-size:30px;
  padding-bottom:20px
}

.category_button{
  border-radius: 100vh;
  max-width: 100px;
}

.pic_column{
  width:150px;
}

.name_column{
  width:300px;
}
