<%= render './maregiment/maregiment_header'%>

<div class="form_wrapper" style="padding:20px">
  <h1>水族館情報編集</h1>

  <%= render 'form', aquarium: @aquarium %>

  <%= link_to 'まれじめんと', maregiment_path %> |
  <%= link_to '戻る', aquaria_path %>
</div>
