<%= render './maregiment/maregiment_header'%>

<div class="form_wrapper" style="padding:20px">
  <h1>New Aquarium</h1>

  <%= render 'form', aquarium: @aquarium %>

  <%= link_to 'Back', aquaria_path %>

</div>
