<%= render './maregiment/maregiment_header'%>
<div class="form_wrapper" style="padding:20px">

  <h1>コラム書いてくれた人　新規登録</h1>

  <%= render 'form', columned_by: @columned_by %>

  <%= link_to '戻る', columned_bies_path %>
</div>
