<!--個別ページのmeta_tagを設定-->
<% set_meta_tags site: "まれじめんと", 
                 title: "生き物新規",
                 noindex: true 
%>

<!--まれじめんとのヘッダーパーシャル-->
<%= render './maregiment/maregiment_header'%>

<!--ここからメイン-->
<div class="form_wrapper" style="padding:20px">
  <h1>生き物情報の登録</h1>

  <%= render 'form', creature: @creature %>

  <%= link_to '戻る', maregiment_path %>
</div>
