<!--個別ページのmeta_tagを設定-->
<% set_meta_tags site: "まれじめんと", 
                 title: "写真くれた人新規",
                 noindex: true 
%>

<!--まれじめんとのヘッダーパーシャル-->
<%= render './maregiment/maregiment_header'%>

<!--ここからメイン-->
<div class="form_wrapper" style="padding:20px">
  <h1>New Photo By</h1>

  <%= render 'form', photo_by: @photo_by %>

  <%= link_to '戻る', "/photo_bies" %>
</div>
