<footer>
    <div id="footer_navi">
        <ul>
            <li><a href="./index.html">HOME</a></li>
            <li><a href="./">HOME</a></li>
            <li><a href="./column.html">コラム</a></li>
            <li><a href="./information.html">お知らせ</a></li>
            <li><a href="./writer.html">運営者</a></li>
        </ul>
    </div>
    <small>&copy; 2022 MareMare_aquariums.</small>
</footer>