<header>
    <ul>
        <div class="header logo_area">
            <a class="page_rogo" href="top"><%=image_tag"title.png"%></a>
        </div>
        <div class="header link_area gnav">
            <li class="btn"><a class="link-btn link-radius" href="top">いきものたち</a></li>
            <li class="btn"><a class="link-btn link-radius" href="top">いきものたち</a></li>
            <li class="btn"><a class="link-btn link-radius" href="column">コラム</a></li>
            <li class="btn"><a class="link-btn link-radius" href="information">お知らせ</a></li>
            <li class="btn"><a class="link-btn link-radius" href="writer">運営者</a></li>
        </div>
    </ul>
</header>
