<!--魚図鑑用のボタンパーシャル-->
<div class="button-container">
  <% @categories.each do |category| %>
    <!--仮置き用のpicbuttonはスキップ-->
    <% unless category.id == 1 %>
      <%= link_to dictionary_path(category.id), remote: true do %>
        <button href="" id="" class="small-btn"><%= image_tag(category.picture_url, class:"pic-button") if category.picture.present?%>
      <% end %>
      <p class="pic-category"><%= category.name%></p>
    <% end %>
  <% end %>
</div>
