<%= render './maregiment/maregiment_header'%>
  <p id="notice"><%= notice %></p>
<div class="form_wrapper" style="padding:20px">

<h1>New Photo</h1>

<%= render 'form', photo: @photo %>

<%= link_to 'Back', photos_path %>
