<!--個別ページのmeta_tagを設定-->
<% set_meta_tags site: "まれじめんと", 
                 title: 'カテゴリー2編集',
                 noindex: true 
%>

<!--まれじめんとのヘッダーパーシャル-->
<%= render './maregiment/maregiment_header'%>

<!--ここからメイン-->
<h1>Editing Category Second</h1>

<%= render 'form', category_second: @category_second %>

<%= link_to 'Show', @category_second %> |
<%= link_to 'Back', category_seconds_path %>
