<!--個別ページのmeta_tagを設定-->
<% set_meta_tags site: "まれじめんと", 
                 title: "写真",
                 noindex: true 
%>

<!--まれじめんとのヘッダーパーシャル-->
<%= render './maregiment/maregiment_header'%>

<!--ここからメイン-->
<div class="form_wrapper" style="padding:20px">
  <h1>Editing Photo Set</h1>

  <%= render 'form', photo_set: @photo_set %>

  <%= link_to 'Show', @photo_set %> |
  <%= link_to 'Back', photo_sets_path %>
</div>
